---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";


const pageTitle = "Main Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Here is my blogs:</h2>
	<ul>
		<li><a href="/blogs/post1/">Post 1</a></li>
		<li><a href="/blogs/post2/">Post 2</a></li>
		<li><a href="/blogs/post3/">Post 3</a></li>
	</ul>
</BaseLayout>

