---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";


const pageTitle = "Kazuya's Astro Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to my Blog!</h2>
</BaseLayout>