---

---

<hr/>
<nav>
    <a href="https://www.linkedin.com/in/kazmiyata/">
        <img src="/media/icons8-linkedin.svg" alt="Linkedin" width="40" height="40">
    </a>

    <a href="https://github.com/miyatakazuya">
        <img src="/media/icons8-github.svg" alt="Github" width="40" height="40">
    </a>

    <a href="mailto:kazuyamiyata18@gmail.com">
        <img src="/media/Minduka-mail.svg" alt="Linkedin" width="40" height="40">
    </a>
</nav>